body{
    background-image: url("background.avif");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5s;
}
  
.sec1 {
    height: 80vh; 
    /* scroll-snap-align: start;      */
}

.img{
    margin-top: 40px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.head1{
    position: absolute;
    z-index: 1;
    margin-top: 250px;
    font-size: 40px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(44) 1s 1 normal both
}
@keyframes typewriter{
from{width: 0;}
to{width: 12.4em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}
.btn2{
    position: absolute;
    z-index: 1;
    margin-top: 390px;
    padding: 10px 45px;
    background-color: rgb(4, 4, 208);
    border: none;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 0px 0px black;
}
.btn2:hover{
    cursor: pointer;
    background-color: blue;
}
/* h1{
    text-align: center;
} */
.pencil{
    margin-top: 210px;
    margin-left:445px;
    animation: slide 2s steps(44) 1s 1 normal both
}
@keyframes slide {
    from{
        transform: translateX(-530px);                
    }
    to{
        transform: translateX(0);
    }
}
.pencil:hover{
    cursor: pointer;
}
.next{
    display: flex;
    justify-content: center;
}
.next .right, .next .left{
    border: 1px solid red;
    /* background: linear-gradient(to right, rgba(11, 113, 209, 0.884), rgb(0, 255, 242)); */
    border-radius: 50%;
    padding: 5px;
    position: relative;
    /* display: inline; */
    /* font-size: 24px; */
    color: rgb(0, 0, 0);
    margin-left: 20px;
    /* box-shadow: 1px 1px 0px 0px black; */
}
.next .right:hover, .next .left:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: red;
    transform: scale(1.15);
}
.para{
    position: absolute;
    margin-top: 330px;
}
.schedule{
    width: 500px;
    margin-top: 172px;
    filter: drop-shadow(0px 0px 15px -2px black);

}
/* .sec:before{
    content: '';
    position: absolute;
    height: 55px;
    width: 3px;
    background-color: #000;
    z-index: 12000;
    border-radius: 50%;
} */
.home_container{

    display: flex;
    justify-content: center;
    /* border:1px  dashed #ff105e; */
    flex-wrap: wrap;
    align-items: center;
    /* align-items: center; */
    /* flex-direction: row; */
}
.howitswork{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    gap: 40px;
}
.animate{
    animation: left_to_right 2s linear;
    overflow: hidden;
}
@keyframes left_to_right {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.boxx{
    width: 300px;
    /* height: 280px; */
    border: 1px solid rgb(155, 151, 151);
    border-radius: 21px;
    padding-block: 30px;
    padding-inline: 15px;
}
.boxx p{
    color: rgb(100, 99, 99);
}
h3{
    text-align: center;
    margin-bottom: 50px;
    /* letter-spacing: 1px; */
}
.expand{
    /* border: 1px solid red; */
    bottom: 0;
    margin-top: 0px;
    border-radius: 50%;
    
}
.e{
    display: flex;
    justify-content: center;
}
.expand:hover{
    background-color: red;
    color: white;
    transform: scale(1.2);
    cursor: pointer;
}
.foote{
    background-color: #fff;
}
.footer{
    /* height:250px; */
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    /* border-bottom: 1px solid rgb(202, 195, 195); */
    margin-bottom: 100px;
}
.social{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
.social li{
    list-style: none;
    margin-top: 4px;
}
.social h4{
    font-size: larger;
    margin-bottom: 8px;
}
.footer-input-button{
    padding-block: 6px;
    padding-inline: 30px;
    border-radius: 20px;
    border: 1px solid rgb(237,44,73);
    color: white;
    background-color: rgb(237,44,73);
    -webkit-text-stroke:1px;
    letter-spacing: 2px;
    font-style: italic;
    margin-left: 10px;
}

.footer-input{
    padding-block: 6px;
    border-radius: 3px;
    border: 1px solid rgb(131, 130, 130);
}
.cont h2, .cont p,.cont input{
    margin-top: 10px;
}
.cont h2{
    color: rgb(62,84,163);
}
.social h4{
    letter-spacing: 3px;
    -webkit-text-stroke: 0.5px;
}
.social li{
    color: rgb(80, 80, 80);
}
.social li:hover{
    cursor:pointer;
    text-decoration: underline;
}
.foot-line-one{
    /* border: 1px solid red; */
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.social-medias svg{
    display: inline-block;
    width: 40px;
}
.social-medias svg:hover{
    cursor: pointer;
}
.foote-border{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-input-button:hover{
    cursor: pointer;
    background-color: rgb(199, 30, 56);
}
.end{
    display: flex;
    justify-content: center;
    height: 50px;
    /* margin-left: 100px; */
    flex-wrap: wrap;
    border-top: 1px solid rgb(202, 195, 195);
    width: 100%;
}
.end a{
    text-decoration: none;
    color: black;
}
.end a:hover{
    text-decoration: underline;
}
.boxx:hover{
    box-shadow: 0px 0px 12px -6px black;
}