@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Poppins:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("background.avif");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.rocket{
    float: right;
    margin-top:100px;
    margin-right: 200px;
    width: 300px;
    animation: flyAbove 2s ease-in-out;
}
.rocket:hover{
    cursor: pointer;
}
@keyframes flyAbove {
    from{
        transform: translateX(-75vw) translateY(100vh) 
    }
    to{
        transform: translateX(0) translateY(0);
    }
}
@keyframes flyAbove2 {
    from{
        transform: translateX(0) translateY(0);
    }
    to{
        transform: translateX(75vw) translateY(-150vh);
    }
}

.head_update{
    position: absolute;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 9.5rem;
}
.head_para{
    position: absolute;
    margin-top: 280px;
    margin-left: 9.5rem;   
}
.btn_update{
    position: absolute;
    margin-top: 330px;
    margin-left: 9.5rem;
    padding-inline: 17px;
    padding-block: 10px;
    background: transparent;
    border: 2px solid blue;
    border-radius: 12px;
    box-shadow: 2px 2px 0px 0px rgb(190, 184, 184);
}
.btn_update:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
.next{
    position: absolute;
    bottom: 20px;
    right: 50%;
}
.next .right, .next .left{
    border: 1px solid pink;
    background: linear-gradient(to right, rgba(11, 113, 209, 0.884), rgb(0, 255, 242));
    border-radius: 50%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    box-shadow: 1px 1px 0px 0px black;
}
.next .left{
    box-shadow: 0px 0px 1px 1px black;
}
.next .right:hover, .next .left:hover{
    cursor: pointer;
}