
  @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Crimson+Text:ital,wght@1,600&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
section{
    scroll-snap-align: start;
}
.nav{
    font-family: 'Barriecito', cursive;

    /* border-bottom: 1px solid rgb(121, 119, 119); */
    display: flex;    
    background-color: black;
    overflow: hidden;
    /* box-shadow: 1px 1px 0px 0px rgb(121, 119, 119); */
    backdrop-filter: blur(2px);
}
.logo{
    padding-block: 12px;
    /* border: 1px solid red; */
    overflow: hidden;
    color: white;
    font-size: 16px;
    margin-left: 30px;
    animation: draw 3s ease-in-out 1s 1 both;
    -webkit-text-stroke: 1px;
}
@keyframes draw {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.ul-nav{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    width: 100%;
    /* gap: 12px;     */
    padding-block: 12px;
}
.ul-nav a{
    /* border: 1px solid blue; */
    color: white;   
    padding-block: 12px;
    position: relative;
    padding-inline: 20px;
    border-radius: 7px;
    text-decoration: none;
}
.ul-nav a:hover::before{
    content: '';
    position: absolute;
    border: 1.5px solid lightblue;
    width: 50%;
    bottom: 20%;
    animation:underline .3s ease-in;    
}
@keyframes underline {
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}
.section{
    font-family: 'Barriecito', cursive;
    background: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.head{
    font-size: 40px;  
    width: 200px;
    /* gap: 10px; */
}
.self1{
    /* position: relative; */
    /* display: block; */
    position: absolute;
    color:#fff;
    /* border: 1px solid red; */
    overflow: hidden;
    width: 20px;
    animation: change 2s ease-in-out 1s infinite;
}
@keyframes change {
    from{
        width:0;
    }
    to{
        width:250px;
        opacity: 0;;
        transform: translateY(-40px);
    }
}
.self2{
    position: absolute;
    color:#fff;
    opacity: 0;

    animation: change1 2s ease-in-out 1s infinite;
}
@keyframes change1 {
    from{
        width:0;
        transform: translateY(40px);
        /* opacity: 1; */
    }
    to{
        width: 250px;
        opacity: 1;
        /* width:220px; */
        /* transform: translateY(-40px); */
    }
} 
.expand{
    /* height:100%; */
    position: absolute;
    bottom:0;
    border:1px solid red;
    border-radius: 50%;
    font-size: 40px;
    color:white;
}
.expand:hover, .expand2:hover{
    background-color: red;
    cursor: pointer;
    transform: scale(1.3);
    transition: transform .3s ease-in-out;
}
#section2{
    height: 100vh;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.head2{
    font-size: 40px;
    text-align: center;
    font-family: 'Barriecito', cursive;
}
.skil{    
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid red; */
    border-bottom: 1px solid #fff;
}


.para{
    /* font-family: "Poppins", sans-serif; */
    font-size: larger;
    text-transform: capitalize;
}
.organization {
    /* font-family: "poppins",sans-serif; */
    font-size: large;
}
.credential, .skill{
    font-size: small;
    margin-top: 2px;
    color: rgb(141, 133, 133);
}
.button{
    display: flex;
    border: 1px solid white;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 21px;
    margin-top: 10px;
    font-size: large;
    position: relative;
    justify-content: center;
}
.button:hover{
    cursor: pointer;
    border:2px solid white;
    background-color: rgb(141, 133, 133);
}
.nptel{
    width: 90px;
    height: 100px;
}
#section3{
    height:100vh;
    background-image: url("project.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.projectplace{
    display: flex;
    width: 280px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* background-color: black; */
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    padding-block: 10px;
    box-shadow: 4px 4px 25px -5px black;
}
.projectplace:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.pro_img{
    width: 300px;
    height: 180px;
}
.section3_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 80vh;
    /* border: 1px solid red; */
}
.summary{
    /* border: 1px solid red; */
    text-align: center;
    height: 120px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}
.btn{
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 12px;
    background: transparent;
    color: #fff;
    border: 1px solid lightblue;
}
.btn:hover{
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: rgb(210, 221, 224);
    color: black;
}
#section4{
    height:100vh;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.expand2{
    border: 1px solid red;
    border-radius: 50%;
    margin-top: 5px;
    /* bottom: 0; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* align-items: center; */
}
.expandd{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.desc{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.section4_container{
    /* border: 1px solid red; */
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
}
.skil-li{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    width: 100%;
}
h2{
    text-align: center;
}
#section5{
    height:100vh;
    background-image: url("237894-programming.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.form_container{
    border:1px solid rgb(167, 156, 156);
    padding: 15px;
    border-radius: 24px;
    box-shadow: 0px 0px 18px -5px ;
}
#in, #ina{
    width:100%;
}
#in{
    padding-block: 5px;
}
.btn1{
    /* border:1px solid ; */
    display: flex;
    justify-content: center;
}
#in:focus, #ina:focus{
    background-color: rgb(179, 255, 230);
}
#button{
    padding: 9px;
    border-radius: 6px;
    border:1px solid darksalmon;
    background-color: transparent;
    color: #fff;
}
#button:hover{
    background-color: darksalmon;
    transform: scale(1.15);
    border:1px solid #fff;
    /* color: #000; */
    cursor: pointer;
}