{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Detector</title>
    <!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
    <link rel="stylesheet" href="{% static 'disease.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div class="nav-dd">
        <div class="logo">
            TEAM_ELITE
        </div>
        <div class="navigation-dd">
            <li onclick="window.location.href='index.html'">Home</li>
            <li onclick="window.location.href='index.html#blog'">Blog</li>
            <li onclick="window.location.href='#'">Diease detector</li>
        </div>
    </div>
    <h1 style="text-align: center; margin-block: 20px;">DISEASE DETECTOR<span class="material-symbols-outlined">
        search
        </span></h1>
    
    <div id="sec2" class="upload">
        <div id="upload-container" class="upload-container">
            <label id="btn-submit" for="photo">Choose a photo</label>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="photo" name="image" accept="image/*">
                <button id="tick" type="submit"><span class="tick material-symbols-outlined">
                    done
                    </span></button>
            </form>
            <!-- <input id="photo" type="file"> -->

        </div>
        <div class="details">
            <h1  id="info">Info</h1>
            <div id="google_translate_element"></div>
            
            <p id="answer">
                <ul>
                    {% for disease_name, disease_info in prediction_details.items %}
                        <h2 id="ans-1"><strong>Disease : {{ disease_name }}</strong></h2>
                        <ul>
                            {% for key, value in disease_info.items %}
                                <p><br><strong id="ans-2">{{ key }}:</strong><br> {{ value }}</p>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <div class="boxy-container">
            <div class="boxy-head">
                <h1 style="text-align: center;" class="boxy-h">Instruction</h1>
                <div class="boxy">
                    <div class="boxzz">
                        <h1 class="box-head">Upload</h1>
                        <p class="box-p">Click and drag the image file from your computer into the drop area on the website.</p>
                    </div>
                    <div class="boxzz">
                        <h1 class="box-head">Format</h1>
                        <p class="box-p">Make sure the image file is in a supported format, such as JPEG, PNG, or GIF.</p>
                    </div>
                    <div class="boxzz">
                        <h1 class="box-head">Clear</h1>
                        <p class="box-p">Upload a clear, well-lit image that is at least 1000 pixels wide and 1000 pixels tall.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 10px; background-color: black; width:100vw; padding-block: 15px;" class="foot">
                <p>Designed by <i>Chandru T, Dhanush Raj O & Naveen B</i></p>
            </div>
        </div>
    </div> 
    
    <!-- <div style="background-color: #000;" class="foot">
        <p>Designed by <i>Chandru T, Dhanush Raj O & Naveen B</i></p>
    </div> -->
    <style>
        .details{
            padding-inline: 20px;
        }
        .tick, #tick{
            height:28px;
            border-radius: 50%;
            border: 1px solid green;
            color: #fff;
            background-color: green;
        }
        #ans-1, #ans-2{
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            element: document.getElementById('google_translate_element'),
            pageLanguage: 'en'
          });
        }
      
        window.addEventListener('load', googleTranslateElementInit);
      </script>
      
    <script>
        const dropZone = document.getElementById('upload-container');
        const fileInput = document.getElementById('photo');
        // const p = document.getElementById("answer");
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            element: document.getElementById('google_translate_element'),
            pageLanguage: 'en'
            });
        }
        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.style.border = '2px dashed green';
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.style.border = '2px solid rgba(228, 10, 10, 0.39)';
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropZone.style.border = '2px solid rgba(228, 10, 10, 0.39)';
            
            const droppedFile = e.dataTransfer.files[0];

        if (droppedFile) {
            fileInput.files = e.dataTransfer.files;
            handleFile(droppedFile);
            }
        });

        function handleFile(file) {
            let url = "{% static '"+file.name+"' %}"
            console.log("<img src='"+url+"' alt='Plant'>")
            // dropZone.innerHTML ="<img src='"+url+"' alt='Plant'>"
            let filee = file.name.split(".");
            let file_len = filee.length-1;
            
            const lastIndex = filee[file_len];

            if(lastIndex === "png"){
                p.style.color = "green";
                dropZone.style.border = '2px solid none';
                p.innerHTML = "Infectious plant diseases are caused by a pathogenic organism such as a fungus, bacterium, mycoplasma, virus, viroid, nematode, or parasitic flowering plant. An infectious agent is capable of reproducing within or on its host and spreading from one susceptible host to another.";
            }else{
                p.style.color = "green"
                p.innerHTML = "Infectious plant diseases are caused by a pathogenic organism such as a fungus, bacterium, mycoplasma, virus, viroid, nematode, or parasitic flowering plant. An infectious agent is capable of reproducing within or on its host and spreading from one susceptible host to another.";
            }
            console.log('File dropped:', file.name);
        }
    </script>
</body>
</html>