<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato disease</title>
    <link rel="stylesheet" href="{% ststic 'blog.css' %}">
</head>
<body>
    <div class="nav-dd">
        <div class="logo">
            TEAM_ELITE
        </div>
        <div class="navigation-dd">
            <li onclick="window.location.href='index.html'">Home</li>
            <li onclick="window.location.href='index.html#blog'">Blog</li>
            <li onclick="window.location.href='disease-detector.html'">Diease detector</li>
        </div>
    </div>
    <div class="flexx">    
        <div class="container">   
                <h1 style="text-align: center;">Tomoto bacteria</h1> 
                <p>Tomato diseases are a common problem for tomato growers, both commercial and home gardeners. There are many different types of tomato diseases, each with its own unique symptoms and causes. Some of the most common tomato diseases include:
                </p>

                <p>Early blight (Alternaria solani) is a fungal disease that can affect all parts of the tomato plant. Symptoms include brown, concentric leaf spots, and sunken, brown lesions on the fruit.
                </p>

                <p>If you suspect that your tomato plants may be diseased, it is important to identify the disease as quickly as possible so that you can take steps to control it. There are a number of cultural practices and fungicides that can be used to manage tomato diseases.
                </p>
                <br>
                <p><b>Here are some tips for preventing tomato diseases:</b></p>

                <p>1. Plant tomato varieties that are resistant to common diseases.</p>
                <p>2. Practice crop rotation, planting tomatoes in a different spot in your garden each year.</p>
                <p>3. Space tomato plants properly to allow for good air circulation.</p>
                <p>4. Water tomato plants deeply and regularly, but avoid overhead watering, which can spread diseases.</p>
                <p>5. Remove and destroy diseased plant parts.</p>
                <p>6. Keep weeds under control, as weeds can harbor pests and diseases.</p>

                If you have any concerns about tomato diseases, please contact your local extension office for more information.
        </div>
    </div>
    <div style="margin-top: 40px; background-color: black; width:100vw; padding-block: 15px;" class="foot">
        <p style="color: #fff; text-align: center;">Designed by <i>Chandru T, Dhanush Raj O & Naveen B</i></p>
    </div>
</body>
</html>