@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 650px;
    padding-block: 20px;
    padding-inline: 30px;
    border: 1px solid #888;
}
.flexx{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}